﻿body{
    
}

#MainContent{
    max-width: 980px;
    margin: 0 auto;
}

footer {
    text-align: center;
}
ul li{
    display: inline;
    margin: 10px;
    line-height: 50px;
}
table{
    width: 100%;
    padding: 5px;
    margin: 10px;
    background: rgba(135, 135, 135, 0.50);

}
table tr:first-child{
    background: rgba(120, 116, 116, 0.50);
    text-transform: uppercase;
    font-weight: bold;
    border: solid 2px;
}

table tr td {
   padding: 5px;
}
a{
    font-weight: bold;
    font-size: 1.1em;
}