﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="CRUD.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Movie library</title>
    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link type="text/css" href="css/style.css" rel="stylesheet" />
</head>
<body>
    <form runat="server">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" runat="server" href="~/Pages.aspx">HOME PAGE</a>
                </div>
                <div>
                    <asp:mymenu runat="server" />
                </div>
              </div>
        </div>
        <div class="container body-content">



            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />



            <footer>
                <p>&copy; <%: DateTime.Now.Year %> My CRUD Artem Nahornyi</p>
            </footer>
        </div>

    </form>
</body>
</html>
