﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="pagemenu.ascx.cs" Inherits="CRUD.usercontrol.pagemenu" %>

 <asp:sqldatasource runat="server" ID="page_menu"
        connectionString="<%$Connectionstrings:final_sql_con %>"></asp:sqldatasource>

<ul runat="server" id="menu_container">

</ul>